.body{
    padding:0;
    margin: 0;
    background: white;
}

.footer {
    background-color:#ad0513;
     color:white;
    
    
}
.footdiv
{
    background-color: #e20000;
}
.footlink
{
    background-color:#8a0611;
}
.button{
    background-color: #f75454;
}
nav
{
background-color:#e20000;
color:white;
}


input{
    width:300px;
    color: white;
}
.container1
{
    
   width: 100%;
   height:40px;
   background-color: rgb(207, 204, 204); 
   margin-top: 67px;
   color: black;

}
.dropdown-link
{
    color: black;
}
.container2
{
    height:100px;
    width:100%;
    margin-left: 0rem;
    margin-right: 0rem;
    
    
}

.humbarger
{
width: 20px;
justify-content: left;
align-self: left;
margin-left: -10px;


}
a
{
    color: white;
    hover: blue;
}

mb-0
{
    justify-content: center;
    align-self: center;
}